p {
color: blue;
font-family: 'Courier New', Courier, monospace;
font-size: 20px;
font-weight: 700;
margin-left: 10px;
text-align: center;
}

h1,h2 {
color: blueviolet;
text-align: end;
margin-left: 20px;
font-family: 'Times New Roman', Times, serif;
margin-top: 50px;
}